:root {
  --el-color-primary: #1f9e6e;
  --el-color-primary-light-3: #4cb38d;
  --el-color-primary-light-5: #7fc7af;
  --el-color-primary-light-7: #b1dccc;
  --el-color-primary-light-9: #e6f5ee;
  --el-color-primary-dark-2: #167a55;
  --el-border-radius-base: 8px;
}
